##**SETS**

<span style="font-size:150%;">Sets are unordered bag of unique values. A single set contains values of any immutable data type.</span>

###**CREATING SET**

In [1]:
#Directly assigning values to a set

myset = {} # just empty curly braces means an empty set
myset

{}

In [2]:
 
myset = set() # Initializing a set
myset = set([]) # Creating a set from a list
myset

set()

In [3]:
myset = {1,2} #Directly enter values inside the braces 
myset

{1, 2}

In [9]:
myset = set([1,2]) #Create a set from a list 
myset

{1, 2}

In [2]:
l = [1,2,3,4]
myset = set(l)
myset

{1, 2, 3, 4}

MODIFYING SET - add() and update()

In [3]:
myset.add(5)
myset

{1, 2, 3, 4, 5}

In [4]:
myset.add(7) #replace ? with the new element
myset

{1, 2, 3, 4, 5, 7}

In [5]:
myset.add(5) # replace ? with already existing item in the set
myset

{1, 2, 3, 4, 5, 7}

In [6]:
myset.add((6,5,8)) #try Adding a tuple 
myset

{1, 2, 3, 4, 5, 7, (6, 5, 8)}

In [7]:
myset.update([5,9]) # update() only works for iterable objects
myset

{1, 2, 3, 4, 5, 7, 9, (6, 5, 8)}

In [8]:
myset.update([7,9]) # update() only works for iterable objects
myset

{1, 2, 3, 4, 5, 7, 9, (6, 5, 8)}

In [16]:
myset.update({5,19}) #Works for another set also 
myset

{1, 2, 3, 4, 5, 7, 9, 19, (6, 5, 8)}

In [ ]:
myset.update({?,?}) #replace ? with your values 
myset

In [26]:
myset.update({21,22}, ['a','g']) #works for multiple iterable elements also 
myset

{2, 3, 4, 5, 7, 9, 19, 21, 22, 'a', 'g', (6, 5, 8)}

In [ ]:
myset.update({?,?,?}, [?,?]) #replace ? with your values 
myset

REMOVING ITEMS - discard() and remove()

Both discard() and remove() take a single value as an argument and removes that value from the set. If that value is not present in the set, discard() does nothing but remove() raises a KeyError exception

In [20]:
myset.remove(1) #REmoves the element from the set. Takes individual elements as arguments

In [21]:
myset

{2, 3, 4, 5, 7, 9, 19, 21, 22, 'a', 'g', (6, 5, 8)}

In [27]:
myset.remove('a') #REmoves the element from the set. Takes individual elements as arguments 
myset

{2, 3, 4, 5, 7, 9, 19, 21, 22, 'g', (6, 5, 8)}

In [28]:
myset.remove([3,4])

TypeError: unhashable type: 'list'

In [29]:
myset.discard(9) 
myset

{2, 3, 4, 5, 7, 19, 21, 22, 'g', (6, 5, 8)}

In [ ]:
myset.remove(?)
myset

COMMON SET OPERATIONS - union(), intersection() and difference()

In [33]:
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
a.union(b) # Values which exist in a or b

{2, 4, 5, 9, 11, 12}

In [34]:
a.intersection(b) # Values which exist in a and b

{2, 4}

In [35]:
a.difference(b) # Values which exist in a but not in b

{5, 9}

      

union() and intersection() are symmetric methods i.e. to say,

        a.union(b) == b.union(a)
        True
        a.intersection(b) == b.intersection(a)
        True
        a.difference(b) == b.difference(a)
        False

These other built-in data structures in Python are also useful.

TASK:


You are given two set of integers M and N and you have to print their symmetric difference in ascending order. The first line of input contains value of M followed by M integers, then value of N followed by N integers. Symmetric difference between M and N mean those values which either exist in M or in N but not in both.

Input Format

Value of M followed by M integers, then value of N followed by N integers.

Output Format

Integers in ascending order, one per line.

Sample Input

4
2 4 5 9
4
2 4 11 12

Sample Output

5
9
11
12

In [49]:
n=input()
a = set([])
for i in xrange(n):
    c=input()
    a.add(c)
n=input()
b = set([])
for i in xrange(n):
    c=input()
    b.add(c)

l=a.difference(b)
l.update(b.difference(a))
l=sorted(l)
for i in l:
    print i

3
2
1
3
2
3
4
1
2
4